<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'">  success  </div>
    <div *ngSwitchCase="'info'"> info  </div>
    <div *ngSwitchCase="'warning'">  warning  </div>
    <div *ngSwitchDefault>danger </div>
</div>
<button type="button" class="btn btn-success m-1" (click)="alerta= 'success'">success</button>
 <div [ngSwitch]="alerta">
    <div  *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
 </div>